{% extends "./base.html" %}
{% load static %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa a inventore, natus blanditiis, amet quam eum? Et illum iusto fugit ipsa blanditiis impedit, corporis sequi distinctio quod ab neque, deleniti!</p>
        <a href="#" class="btn btn-primary my-2">Make an account</a>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Books</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}
          {% include 'store/includes/product_card_template.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
